.circle {
    display: inline-block;
    margin-left: 55px;
    height: 210px;
    width: 210px;
    border-radius: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.mediaTop {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 800) {
    .mediaTop {
        flex-direction: column;
    }
}